* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html, body{
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3;
}
