.Conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .8em;
}
.form-create {
  width: 50%;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
}
.form-create h1 {
  text-align: center;
  margin: .8em 0;

}
.content-campos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
.form-group label {
  display: block;
  margin: 0.3em 0;
  font-size: 1.2em;
  font-weight: 500;
}
.form-group input,.form-group select{
  height: 2em;
  font-size: 1em;
  padding: .3em;
}
.form-group input:focus,.form-group select:focus{
  outline-color: #428bca;
}
.form-create button {
  width: 100%;
  padding: 1em 1.5em;
  margin: 0.8em 0;
  background-color: #5d9cec;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #428bca;
}
.error-form{
  color: #f00;
  margin: .8em 0;
}
