{% extends "paginas/base.html" %}
{% load static %}


{% block links_extras %}
<link rel="stylesheet" href="{% static 'css/form_pedido.css' %}">
{% endblock %}


{% block conteudo %}
<div class="Conteudo">
    <form action="" method="post" class="form-create">
        {% csrf_token %}
        <h1>{{TituloForm}}</h1>
        <div class="content-campos">
            <div class="form-group">
                <label for="">Cliente:</label>
                {{form.cliente}}
            </div>
            <div class="form-group">
                <label for="">Total a pagar:</label>
                {{form.valor_total}}
            </div>
        </div>
        {% if form.non_field_errors %}
        <div class="error-form">
            <p>{{ form.non_field_errors }}</p>
        </div>
        {% endif %}
        <button>{{Butao}}</button>
    </form>
</div>
{% endblock %}